doctype html
html(lang='en')
  head
    title Ecosystems' Simulations

    meta(charset="utf-8")
    meta(
      name="viewport" 
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )

  body
    h1 Sweet demos
    ul
      li: a.demo(href="demos/Binary.html") Binary Demo
      li: a.demo(href="demos/Main.html") Multiplication Demo


